__aj_err.fish
__bass.py
__z.fish
__z_add.fish
__z_complete.fish
__zo.fish
__z_clean.fish
bass.fish
debug.fish
fish_greeting.fish
fish_mode_prompt.fish
fish_prompt.fish
fish_right_prompt.fish
fish_title.fish
get.fish
getopts.fish
j.fish
jc.fish
jco.fish
jo.fish
segment.fish
segment_close.fish
segment_right.fish
spin.fish
__bobthefish_colors.fish
__bobthefish_display_colors.fish
__bobthefish_glyphs.fish
bobthefish_display_colors.fish
z.awk
zadd.awk
zclean.awk
